.login_form h2 {
    font-family: 'Righteous', cursive;
    padding: 0 0.2em;
}

.login_form h2 i {
    padding-right: 1em;
}

.login {
    background-color: transparent !important;

}

.login_form {
    background: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.42)),
        url('../../assets/bg.jpg');
    height: 94vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.login_form Form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2em;
    position: fixed;
    top: 50%;
    left: 50%;
    height: auto;
    min-width: 500px;
    transform: translate(-50%, -50%);

}


.form-control {
    width: 100%;
    height: 3.5em;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: none;
    color: #b6b8ba;
    font-size: 0.875rem;
    border-radius: 0;
}

.form-control:focus {
    border-color: #24cdd5;
    box-shadow: 0 0;
}



.login_form .btn {
    color: #fff;
    background-color: rgba(3, 186, 252);
    padding: 0.65em 0.5em;
    border-color: rgba(3, 186, 252);
    border-radius: 0;
    transition: 0.8s all;
}

.login_form i {
    margin-right: 1em;
}

.login_form .btn:hover,
.login_form .btn:active {
    color: #fff;
    background-color: rgb(6, 152, 206);
    padding: 0.65em 0.5em;
    border-color: rgb(6, 152, 206);
    border-radius: 0;
    transition: 0.8s all;
}

.login_form::-webkit-scrollbar {
    display: none;
}