.dashboard {
	padding: 2em 1em;
}

.share_tab {
	padding: 0em;
	color: #232323;
	box-shadow: 0 10px 6px -6px rgba(179, 179, 179, 0.1);
	background-color: #ffffff;
	text-align: center;
	margin: 0.5em;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.075);
}

.share_tab .col-md-2 {
	padding: 0.5em;
	display: inline-block;
	vertical-align: middle;
	font-size: 0.95em;
	margin-top: auto;
	margin-bottom: auto;
}

.share_tab .col-md-2 span {
	display: inline-block;
	color: gray;
	font-size: 0.8em;
	text-align: right;
}

.share_tab .col-md-2 p {
	margin-bottom: 0.35em;
	color: rgb(104, 101, 101);
	font-size: 0.85em;
}

.share_tab .col-md-2 .det p span {
	float: right;
	color: #1a1a1a;
}

.dtab_cell {
	display: table-cell;
	text-align: left !important;
	/* background: red; */
	width: 30%;
}

.price span {
	font-size: 1.25em !important;
	color: #5dbcd2 !important;
	font-weight: bold;
}

.price .text-dark {
	font-size: 0.95em !important;
	color: #6c757d !important;
	font-weight: 600;
}

.share_tab .col-md-2 img {
	height: 30px;
}

.share_tab .col-md-2 .btn {
	display: block;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 0.5em;
}

.progress {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 0.65rem;
	overflow: hidden;
	font-size: 0.75rem;
	background-color: #e9ecef;
	border-radius: 0.25rem;
}

.btn-outline-danger {
	color: #fb7f42;
	background-color: transparent;
	background-image: none;
	border-color: #fb7f42;
}

.btn-outline-danger:hover {
	color: #fff;
	background-color: #fb7f42;
	border-color: #fb7f42;
}

.chart {
	background-color: #ffffff;
	margin: 0 auto;
	text-align: center;
	position: fixed !important;
	right: 3.5em;
	top: 82px;
	height: 90vh;
}

.chart .recharts-wrapper {
	margin: 0 auto;
}

.fas {
	vertical-align: text-bottom;
}

.recharts-default-legend {
	position: absolute;
	top: 10em;
}

.sm-text {
	text-align: left !important;
	font-size: 0.9em !important;
	color: #343a40 !important;
}

.share_det {
	color: rgb(104, 101, 101) !important;
	font-size: 1em !important;
	font-weight: 600;
}

/* 
.text-bold {
    font-weight: 600;
} */

.neg {
	color: red !important;
	margin-left: 30%;
}

.pos {
	color: green !important;
	margin-left: 30%;
}

.pos i {
	transform: rotate(180deg);
}

.price span .dollar {
	color: #707071 !important;
	font-size: 0.8em !important;
	font-weight: 400;
	margin-bottom: 0.3em;
	vertical-align: middle;
}