.App {
  text-align: center;
  background-color: rgba(74, 74, 74, 0.075) !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* 
.pagenotfound {
  background: url('./assets/404.png');
  background-size: cover;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding: 1em; */
/* } */

.pagenotfound {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  color: #fff;

}

.box-shadow {
  color: #17a2b8 !important;
  box-shadow: 0px 6px 8px rgba(197, 197, 197, 0.25) !important;
}